# Data scraping using the Selenium Webdriver

In this notebook, we use `pandas`, `requests`, and `selenium.webdriver` libraries to extract data tables with information about Tokyo 2020 Paralympic Games from the official [website](https://olympics.com/tokyo-2020/en/paralympics/) of the games. Note that for this notebook to work properly, the selenium webdriver for chrome needs to downloaded from the official [website](https://chromedriver.chromium.org/), installed, and the folder with the corresponding executable file needs be be added to your path (alternatively, one needs to always specify the when running the webdriver: `webdriver.Chrome(/path/to/chromedriver)`).

### Extract Medals data using Pandas and Requests

In [1]:
import requests
import pandas as pd

url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/medal-standings.htm'
html = requests.get(url).content
medals_list = pd.read_html(html)

In [2]:
#0's entry in medals_list contains the overall medal summary table
medals = medals_list[0]
medals.head()

,Rank,Team/NPC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,RankbyTotal,NPCCode
0,1,People's Republic of China,96,60,51,207,1,CHN
1,2,Great Britain,41,38,45,124,2,GBR
2,3,United States of America,37,36,31,104,4,USA
3,4,RPC,36,33,49,118,3,RPC
4,5,Netherlands,25,17,17,59,9,NED

In [3]:
#Rename columns properly
medals.rename(columns={'Unnamed: 2' : 'Gold', 'Unnamed: 3' : 'Silver', 
                       'Unnamed: 4': 'Bronze', 'RankbyTotal': 'Rank by Total'}, 
              inplace=True)

#Drop the 'NPCCode' column
medals.drop(columns=['NPCCode'], inplace=True)

#Take a look at the modified table
medals.head()

,Rank,Team/NPC,Gold,Silver,Bronze,Total,Rank by Total
0,1,People's Republic of China,96,60,51,207,1
1,2,Great Britain,41,38,45,124,2
2,3,United States of America,37,36,31,104,4
3,4,RPC,36,33,49,118,3
4,5,Netherlands,25,17,17,59,9

In [4]:
#Export data to a cvs file
medals.to_csv('Medals.csv', index=False)

### Extract Athletes data using Selenium

In [5]:
import time
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome()
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/medal-standings.htm'
driver.get(url)
time.sleep(2)

#Cookies
not_accept_xpath = '//*[@id="onetrust-pc-btn-handler"]'
not_accept = driver.find_element_by_xpath(not_accept_xpath)
not_accept.click()
time.sleep(2)

cookies_xpath = '//*[@id="onetrust-pc-sdk"]/div[3]/div[1]/button[1]'
cookies = driver.find_element_by_xpath(cookies_xpath)
cookies.click()
time.sleep(3)

#Athletes tab
athletes_button_xp = '/html/body/section[2]/div/header/div[2]/div[1]/div/div[2]/nav/ul[1]/li[6]/a'
athletes_button = driver.find_element_by_xpath(athletes_button_xp)
athletes_button.click()
time.sleep(3)

#Extract html of the athletes table 
athletes_table_xp = '//*[@id="entries-table"]'
athletes_table = driver.find_element_by_xpath(athletes_table_xp)
athletes_html_full = athletes_table.get_attribute('outerHTML')

#Remove undesireble text patterns in the table
remove_pattern_1 = r';[^>]+;'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2))
athletes_html_clean = re.sub(remove_pattern, '', athletes_html_full)

#Record 1st page data
athletes_p1_list = pd.read_html(athletes_html_clean)
athletes_p1 = athletes_p1_list[0]
athletes_p1.index = athletes_p1.index + 1 + 20*0
athletes_list = [athletes_p1]
time.sleep(2)

#Record pages 2-227
for i in range(2, 228):
    j = i
    if i > 5:
        j = 5
    if i == 226:
        j = 6
    if i == 227:
        j = 7    
    next_page_xpath = f'//*[@id="entries-table_paginate"]/ul/li[{j+1}]/a'
    next_page = driver.find_element_by_xpath(next_page_xpath)
    next_page.click()
    
    athletes_html_full = athletes_table.get_attribute('outerHTML')
    athletes_html_clean = re.sub(remove_pattern, '', athletes_html_full)
    
    athletes_nextp_list = pd.read_html(athletes_html_clean)
    athletes_nextp = athletes_nextp_list[0]
    athletes_nextp.index = athletes_nextp.index + 1 + 20*(i-1)
    athletes_list.append(athletes_nextp)
    time.sleep(2)

athletes_final = pd.concat(athletes_list)

In [6]:
#Check out the resulting table
athletes_final.head()

               Name         NPC             Discipline
1    AAJIM Munkhbat    Mongolia                   Judo
2    ABARZA Alberto       Chile               Swimming
3      ABASLI Namig  Azerbaijan                   Judo
4    ABASSI Mostefa     Algeria  Wheelchair Basketball
5  ABBAD Abderraouf     Algeria  Wheelchair Basketball

In [7]:
#Export data to a cvs file
athletes_final.to_csv('Athletes.csv', index=False)

### Extract Gender by Discipline data using pandas

In [8]:
import requests
import pandas as pd

url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/entries-by-discipline.htm'
html = requests.get(url).content
gender_list = pd.read_html(html)

In [9]:
#0's entry in the medals_list contains the overall medal table
gender = gender_list[0]
gender.tail()

               Discipline Gender
               Discipline      F     M Total
19  Wheelchair Basketball    118   144   262
20     Wheelchair Fencing     48    48    96
21       Wheelchair Rugby      4    88    92
22      Wheelchair Tennis     32    72   104
23                  Total   1895  2632  4527

In [10]:
#Remove redundant multiindexing in column titles
gender.columns = ['Discipline', 'F', 'M', 'Total']

#Remove the last row
gender = gender[:-1]

#Display data
gender.style.set_properties(**{'text-align': 'right'})

In [11]:
#Export data to a cvs file
gender.to_csv('GenderByDiscipline.csv', index=False)

### Extract Coaches data using Selenium

In [12]:
import re
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

driver = webdriver.Chrome()
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/coaches.htm'
driver.get(url)
time.sleep(2)

#Cookies
not_accept_xpath = '//*[@id="onetrust-pc-btn-handler"]'
not_accept = driver.find_element_by_xpath(not_accept_xpath)
not_accept.click()
time.sleep(2)

cookies_xpath = '//*[@id="onetrust-pc-sdk"]/div[3]/div[1]/button[1]'
cookies = driver.find_element_by_xpath(cookies_xpath)
cookies.click()
time.sleep(3)

#Extract html of the coaches table 
coaches_table_xp = '//*[@id="mainContainer"]/div/div[1]/div[1]/div[3]'
coaches_table = driver.find_element_by_xpath(coaches_table_xp)
coaches_html_full = coaches_table.get_attribute('outerHTML')

#Remove undesireble text patterns in the table
remove_pattern_1 = r';[^>]+;'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2))
coaches_html_clean = re.sub(remove_pattern, '', coaches_html_full)

#Record 1st page data
coaches_p1_list = pd.read_html(coaches_html_clean)
coaches_p1 = coaches_p1_list[0]
coaches_p1.index = coaches_p1.index + 1 + 20*0
coaches_list = [coaches_p1]
time.sleep(2)

#Record pages 2-5
for i in range(2, 6):        
    next_page_xpath = f'//*[@id="entries-table_paginate"]/ul/li[{i+1}]/a'
    next_page = driver.find_element_by_xpath(next_page_xpath)
    next_page.click()
    
    coaches_html_full = coaches_table.get_attribute('outerHTML')
    coaches_html_clean = re.sub(remove_pattern, '', coaches_html_full)
    
    coaches_nextp_list = pd.read_html(coaches_html_clean)
    coaches_nextp = coaches_nextp_list[0]
    coaches_nextp.index = coaches_nextp.index + 1 + 20*(i-1)
    coaches_list.append(coaches_nextp)
    time.sleep(2)

coaches_final = pd.concat(coaches_list)
coaches_final.rename(columns={'Event': 'Gender'}, inplace=True)

In [13]:
coaches_final

,Name,NPC,Discipline,Gender
1,AGHAKOUCHEKI Abbas,Islamic Republic of Iran,Wheelchair Basketball,Men
2,AKIN Ahmet,Turkey,Wheelchair Basketball,Men
3,AKPWEH Toussaint,France,Football 5-a-side,Men
4,ARIMA Masato,Japan,Wheelchair Basketball,NaN
5,BAN Nicole,Canada,Sitting Volleyball,Women
...,...,...,...,...
87,XU Yufei,People's Republic of China,Football 5-a-side,Men
88,YE Jing,People's Republic of China,Sitting Volleyball,Men
89,YIN Shiqiang,People's Republic of China,Goalball,Men
90,YOUNG Keith,United States of America,Goalball,Men
91,ZELTINGER Nicolai,Germany,Wheelchair Basketball,Men

In [14]:
#Export data to a cvs file
coaches_final.to_csv('Coaches.csv', index=False)

### Extract Medalists data using Padnas and Requests

In [15]:
import re
import time
import requests
import pandas as pd
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/multi-medalists.htm'

mmedallists_html_full = requests.get(url).content
mmedallists = pd.read_html(mmedallists_html_full)
mmedallists[0]

,Rank,Name,Sport,Event,Medal,Total
0,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Backstroke - S10,NaN,7
1,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Butterfly - S10,NaN,7
2,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Freestyle - S10,NaN,7
3,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 200m Individual Medley - SM10,NaN,7
4,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 400m Freestyle - S10,NaN,7
...,...,...,...,...,...,...
931,350,CHNWU CWU Chunyan Sport Class: W2,Archery,Women's Individual Recurve - Open,NaN,2
932,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Backstroke - S11,NaN,2
933,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Breaststroke - SB11,NaN,2
934,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 100m Breaststroke - SB8,NaN,2
935,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 200m Individual Medley - SM8,NaN,2

In [16]:
#Clean up the html code
remove_pattern_1 = r'Sport Class:[^>]+>[^>]+>'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2))
mmedallists_html_clean_1 = re.sub(remove_pattern, '', mmedallists_html_full.decode("utf-8"))

#Switch country abbreviations with country names 
switch_pattern = re.compile(r'<abbr class="noc" title=("[^"]+")>([^<]+)</abbr>')
mmedallists_html_clean_2 = switch_pattern.sub(r'<abbr class="noc" title=\2>\1</abbr>', mmedallists_html_clean_1)

#Replace pictures of medals with medal names
replace_pattern_gold = r'<img class="medal-icon"\s[^\s]+\salt="Gold Medal">'
replace_pattern_silver = r'<img class="medal-icon"\s[^\s]+\salt="Silver Medal">'
replace_pattern_bronze = r'<img class="medal-icon"\s[^\s]+\salt="Bronze Medal">'

mmedallists_html_clean_3 = re.sub(replace_pattern_gold, 'Gold', mmedallists_html_clean_2)
mmedallists_html_clean_4 = re.sub(replace_pattern_silver, 'Silver', mmedallists_html_clean_3)
mmedallists_html_clean = re.sub(replace_pattern_bronze, 'Bronze', mmedallists_html_clean_4)

#Check out modified data
mmedallists_clean = pd.read_html(mmedallists_html_clean)
mmedallists = mmedallists_clean[0]

mmedallists.head(10)

,Rank,Name,Sport,Event,Medal,Total
0,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 100m Backstroke - S10,Gold,7
1,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 100m Butterfly - S10,Gold,7
2,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 100m Freestyle - S10,Gold,7
3,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 200m Individual Medley - SM10,Gold,7
4,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 400m Freestyle - S10,Gold,7
5,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 50m Freestyle - S10,Silver,7
6,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 4x100m Freestyle Relay - 34 Points,Bronze,7
7,2,"""Belarus""BOKI Ihar",Swimming,Men's 100m Backstroke - S13,Gold,5
8,2,"""Belarus""BOKI Ihar",Swimming,Men's 100m Butterfly - S13,Gold,5
9,2,"""Belarus""BOKI Ihar",Swimming,Men's 200m Individual Medley - SM13,Gold,5

In [17]:
#Group raws with identical information 
idet_cols = ['Rank', 'Name', 'Sport', 'Total']
mmedallists['Event'] = mmedallists.groupby(idet_cols)['Event'].transform(lambda x: '; '.join(x))
mmedallists['Medal'] = mmedallists.groupby(idet_cols)['Medal'].transform(lambda x: '; '.join(x))
mmedallists.drop_duplicates(inplace=True, ignore_index=True)
mmedallists

,Rank,Name,Sport,Event,Medal,Total
0,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 100m Backstroke - S10; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold; Silver; Bronze,7
1,2,"""Belarus""BOKI Ihar",Swimming,Men's 100m Backstroke - S13; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold,5
2,3,"""Switzerland""HUG Marcel",Athletics,Men's 1500m - T54; Men's 5000m - T54; Men's 80...,Gold; Gold; Gold; Gold,4
3,3,"""People's Republic of China""LU Dong",Swimming,Mixed 4x50m Freestyle Relay - 20 Points; Women...,Gold; Gold; Gold; Gold,4
4,3,"""People's Republic of China""ZHENG Tao",Swimming,Men's 50m Backstroke - S5; Men's 50m Butterfly...,Gold; Gold; Gold; Gold,4
...,...,...,...,...,...,...
376,350,"""Japan""UEYONABARU Hirokazu",Athletics,Men's 1500m - T52; Men's 400m - T52,Bronze; Bronze,2
377,350,"""Great Britain""WILSON Georgia",Equestrian,Individual Freestyle Test - Grade II; Individu...,Bronze; Bronze,2
378,350,"""People's Republic of China""WU Chunyan",Archery,Mixed Team Recurve - Open; Women's Individual ...,Bronze; Bronze,2
379,350,"""People's Republic of China""YANG Bozun",Swimming,Men's 100m Backstroke - S11; Men's 100m Breast...,Bronze; Bronze,2
380,350,"""People's Republic of China""YANG Guanglong",Swimming,Men's 100m Breaststroke - SB8; Men's 200m Indi...,Bronze; Bronze,2

In [18]:
#Count Gold, Silver, and Bronze
mmedallists = mmedallists.assign(Gold = mmedallists['Medal'].str.count('Gold'))
mmedallists = mmedallists.assign(Silver = mmedallists['Medal'].str.count('Silver'))
mmedallists = mmedallists.assign(Bronze = mmedallists['Medal'].str.count('Bronze'))
mmedallists

,Rank,Name,Sport,Event,Medal,Total,Gold,Silver,Bronze
0,1,"""Ukraine""KRYPAK Maksym",Swimming,Men's 100m Backstroke - S10; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold; Silver; Bronze,7,5,1,1
1,2,"""Belarus""BOKI Ihar",Swimming,Men's 100m Backstroke - S13; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold,5,5,0,0
2,3,"""Switzerland""HUG Marcel",Athletics,Men's 1500m - T54; Men's 5000m - T54; Men's 80...,Gold; Gold; Gold; Gold,4,4,0,0
3,3,"""People's Republic of China""LU Dong",Swimming,Mixed 4x50m Freestyle Relay - 20 Points; Women...,Gold; Gold; Gold; Gold,4,4,0,0
4,3,"""People's Republic of China""ZHENG Tao",Swimming,Men's 50m Backstroke - S5; Men's 50m Butterfly...,Gold; Gold; Gold; Gold,4,4,0,0
...,...,...,...,...,...,...,...,...,...
376,350,"""Japan""UEYONABARU Hirokazu",Athletics,Men's 1500m - T52; Men's 400m - T52,Bronze; Bronze,2,0,0,2
377,350,"""Great Britain""WILSON Georgia",Equestrian,Individual Freestyle Test - Grade II; Individu...,Bronze; Bronze,2,0,0,2
378,350,"""People's Republic of China""WU Chunyan",Archery,Mixed Team Recurve - Open; Women's Individual ...,Bronze; Bronze,2,0,0,2
379,350,"""People's Republic of China""YANG Bozun",Swimming,Men's 100m Backstroke - S11; Men's 100m Breast...,Bronze; Bronze,2,0,0,2
380,350,"""People's Republic of China""YANG Guanglong",Swimming,Men's 100m Breaststroke - SB8; Men's 200m Indi...,Bronze; Bronze,2,0,0,2

In [19]:
#Remove redundant columns
mmedallists.drop(columns=['Event', 'Medal'], inplace=True)
mmedallists = mmedallists.reindex(columns=['Rank', 'Name', 'Sport', 'Gold', 'Silver', 'Bronze', 'Total'])
mmedallists

,Rank,Name,Sport,Gold,Silver,Bronze,Total
0,1,"""Ukraine""KRYPAK Maksym",Swimming,5,1,1,7
1,2,"""Belarus""BOKI Ihar",Swimming,5,0,0,5
2,3,"""Switzerland""HUG Marcel",Athletics,4,0,0,4
3,3,"""People's Republic of China""LU Dong",Swimming,4,0,0,4
4,3,"""People's Republic of China""ZHENG Tao",Swimming,4,0,0,4
...,...,...,...,...,...,...,...
376,350,"""Japan""UEYONABARU Hirokazu",Athletics,0,0,2,2
377,350,"""Great Britain""WILSON Georgia",Equestrian,0,0,2,2
378,350,"""People's Republic of China""WU Chunyan",Archery,0,0,2,2
379,350,"""People's Republic of China""YANG Bozun",Swimming,0,0,2,2
380,350,"""People's Republic of China""YANG Guanglong",Swimming,0,0,2,2

In [20]:
#Create a separate column with country's name
mmedallists = mmedallists.assign(Team = mmedallists['Name'].str.extract('"([^"]+)"'))
mmedallists

,Rank,Name,Sport,Gold,Silver,Bronze,Total,Team
0,1,"""Ukraine""KRYPAK Maksym",Swimming,5,1,1,7,Ukraine
1,2,"""Belarus""BOKI Ihar",Swimming,5,0,0,5,Belarus
2,3,"""Switzerland""HUG Marcel",Athletics,4,0,0,4,Switzerland
3,3,"""People's Republic of China""LU Dong",Swimming,4,0,0,4,People's Republic of China
4,3,"""People's Republic of China""ZHENG Tao",Swimming,4,0,0,4,People's Republic of China
...,...,...,...,...,...,...,...,...
376,350,"""Japan""UEYONABARU Hirokazu",Athletics,0,0,2,2,Japan
377,350,"""Great Britain""WILSON Georgia",Equestrian,0,0,2,2,Great Britain
378,350,"""People's Republic of China""WU Chunyan",Archery,0,0,2,2,People's Republic of China
379,350,"""People's Republic of China""YANG Bozun",Swimming,0,0,2,2,People's Republic of China
380,350,"""People's Republic of China""YANG Guanglong",Swimming,0,0,2,2,People's Republic of China

In [21]:
#Remove country's name from the 'Name' column
mmedallists.Name = mmedallists.Name.str.replace(r'"([^"]+)"',r'',regex=True)
#rearange the columns
mmedallists = mmedallists.reindex(columns=['Rank', 'Name', 'Team', 'Sport', 'Gold', 'Silver', 'Bronze', 'Total'])
mmedallists

,Rank,Name,Team,Sport,Gold,Silver,Bronze,Total
0,1,KRYPAK Maksym,Ukraine,Swimming,5,1,1,7
1,2,BOKI Ihar,Belarus,Swimming,5,0,0,5
2,3,HUG Marcel,Switzerland,Athletics,4,0,0,4
3,3,LU Dong,People's Republic of China,Swimming,4,0,0,4
4,3,ZHENG Tao,People's Republic of China,Swimming,4,0,0,4
...,...,...,...,...,...,...,...,...
376,350,UEYONABARU Hirokazu,Japan,Athletics,0,0,2,2
377,350,WILSON Georgia,Great Britain,Equestrian,0,0,2,2
378,350,WU Chunyan,People's Republic of China,Archery,0,0,2,2
379,350,YANG Bozun,People's Republic of China,Swimming,0,0,2,2
380,350,YANG Guanglong,People's Republic of China,Swimming,0,0,2,2

In [22]:
#Export data to a cvs file
mmedallists.to_csv('MultiMedallists.csv', index=False)

In [29]:
#Script to look for matches
remove_pattern = re.compile(r'<span class="d-md-none">[^>]+</span>')
mmedallists_html_clean = re.sub(remove_pattern, '', mmedallists_html_full.decode("utf-8"))

matches = remove_pattern.finditer(mmedallists_html_full.decode("utf-8"))

for match in matches:
    print(match)

<re.Match object; span=(143220, 143259), match='<span class="d-md-none">KRYPAK M</span>'>
<re.Match object; span=(146173, 146210), match='<span class="d-md-none">BOKI I</span>'>
<re.Match object; span=(148661, 148697), match='<span class="d-md-none">HUG M</span>'>
<re.Match object; span=(150873, 150908), match='<span class="d-md-none">LU D</span>'>
<re.Match object; span=(153146, 153184), match='<span class="d-md-none">ZHENG T</span>'>
<re.Match object; span=(155410, 155447), match='<span class="d-md-none">LONG J</span>'>
<re.Match object; span=(158162, 158199), match='<span class="d-md-none">DUNN R</span>'>
<re.Match object; span=(160676, 160724), match='<span class="d-md-none">GOMES SANTIAGO MC</span>'>
<re.Match object; span=(163207, 163246), match='<span class="d-md-none">MARTIN W</span>'>
<re.Match object; span=(165495, 165535), match='<span class="d-md-none">MAYHUGH N</span>'>
<re.Match object; span=(167689, 167731), match='<span class="d-md-none">SHABALINA V</span>'>
<re.Match object; span=(169951, 169991), match='<span class="d-md-none">ZHDANOV R</span>'>
<re.Match object; span=(172450, 172490), match='<span class="d-md-none">DORSMAN R</span>'>
<re.Match object; span=(174480, 174525), match='<span class="d-md-none">DURAND ELIAS O</span>'>
<re.Match object; span=(176451, 176490), match='<span class="d-md-none">KALINA A</span>'>
<re.Match object; span=(178484, 178522), match='<span class="d-md-none">PAEYO P</span>'>
<re.Match object; span=(180468, 180508), match='<span class="d-md-none">PEARSON L</span>'>
<re.Match object; span=(182473, 182511), match='<span class="d-md-none">SALEI R</span>'>
<re.Match object; span=(184504, 184540), match='<span class="d-md-none">TAN S</span>'>
<re.Match object; span=(186562, 186598), match='<span class="d-md-none">WEN X</span>'>
<re.Match object; span=(188534, 188573), match='<span class="d-md-none">TRUSOV A</span>'>
<re.Match object; span=(191280, 191319), match='<span class="d-md-none">SCHAER M</span>'>
<re.Match object; span=(193711, 193749), match='<span class="d-md-none">GILLI C</span>'>
<re.Match object; span=(196227, 196268), match='<span class="d-md-none">MERESHKO Y</span>'>
<re.Match object; span=(198723, 198761), match='<span class="d-md-none">TERZI G</span>'>
<re.Match object; span=(201238, 201281), match='<span class="d-md-none">ZIJDERVELD C</span>'>
<re.Match object; span=(203771, 203809), match='<span class="d-md-none">FIRTH B</span>'>
<re.Match object; span=(206026, 206064), match='<span class="d-md-none">TRIMI A</span>'>
<re.Match object; span=(208274, 208313), match='<span class="d-md-none">RIVARD A</span>'>
<re.Match object; span=(210807, 210843), match='<span class="d-md-none">JIA H</span>'>
<re.Match object; span=(213099, 213137), match='<span class="d-md-none">JIANG Y</span>'>
<re.Match object; span=(215340, 215379), match='<span class="d-md-none">PASCOE S</span>'>
<re.Match object; span=(217640, 217677), match='<span class="d-md-none">RONG J</span>'>
<re.Match object; span=(219898, 219940), match='<span class="d-md-none">BOCCIARDO F</span>'>
<re.Match object; span=(221927, 221968), match='<span class="d-md-none">CROTHERS R</span>'>
<re.Match object; span=(223939, 223979), match='<span class="d-md-none">DADAON AO</span>'>
<re.Match object; span=(225985, 226033), match='<span class="d-md-none">dos SANTOS ARAUJO</span>'>
<re.Match object; span=(228022, 228071), match='<span class="d-md-none">LEANI RATRI Oktila</span>>
<re.Match object; span=(230053, 230089), match='<span class="d-md-none">LIU C</span>'>
<re.Match object; span=(232044, 232079), match='<span class="d-md-none">MA J</span>'>
<re.Match object; span=(234058, 234099), match='<span class="d-md-none">NIKOLAEV A</span>'>
<re.Match object; span=(236064, 236103), match='<span class="d-md-none">POPHAM B</span>'>
<re.Match object; span=(238114, 238150), match='<span class="d-md-none">SUN G</span>'>
<re.Match object; span=(240148, 240194), match='<span class="d-md-none">VERA ANDRADE LM</span>'>
<re.Match object; span=(242153, 242191), match='<span class="d-md-none">VOETS S</span>'>
<re.Match object; span=(244201, 244243), match='<span class="d-md-none">WEGGEMANN M</span>'>
<re.Match object; span=(246255, 246293), match='<span class="d-md-none">ZHANG L</span>'>
<re.Match object; span=(248303, 248340), match='<span class="d-md-none">BIAN J</span>'>
<re.Match object; span=(250347, 250390), match='<span class="d-md-none">de ROZARIO M</span>'>
<re.Match object; span=(252328, 252367), match='<span class="d-md-none">MALYAR M</span>'>
<re.Match object; span=(254382, 254423), match='<span class="d-md-none">TRUNNELL R</span>'>
<re.Match object; span=(256419, 256467), match='<span class="d-md-none">van GANSEWINKEL M</span>'>
<re.Match object; span=(258440, 258481), match='<span class="d-md-none">van GASS J</span>'>
<re.Match object; span=(260496, 260533), match='<span class="d-md-none">ZHOU Z</span>'>
<re.Match object; span=(262476, 262518), match='<span class="d-md-none">ANDREJCIK S</span>'>
<re.Match object; span=(264251, 264290), match='<span class="d-md-none">ASPDEN H</span>'>
<re.Match object; span=(266078, 266115), match='<span class="d-md-none">CHEN J</span>'>
<re.Match object; span=(267863, 267900), match='<span class="d-md-none">CHEN M</span>'>
<re.Match object; span=(269622, 269663), match='<span class="d-md-none">COCKROFT H</span>'>
<re.Match object; span=(271392, 271428), match='<span class="d-md-none">COX K</span>'>
<re.Match object; span=(273186, 273227), match='<span class="d-md-none">de GROOT D</span>'>
<re.Match object; span=(274970, 275011), match='<span class="d-md-none">DUNLEVY KG</span>'>
<re.Match object; span=(276772, 276809), match='<span class="d-md-none">FENG P</span>'>
<re.Match object; span=(278568, 278605), match='<span class="d-md-none">FENG Y</span>'>
<re.Match object; span=(280370, 280409), match='<span class="d-md-none">GEORGE M</span>'>
<re.Match object; span=(282187, 282228), match='<span class="d-md-none">GRISWOLD R</span>'>
<re.Match object; span=(283994, 284029), match='<span class="d-md-none">GU H</span>'>
<re.Match object; span=(285798, 285833), match='<span class="d-md-none">HE Z</span>'>
<re.Match object; span=(287552, 287592), match='<span class="d-md-none">JACQUES Y</span>'>
<re.Match object; span=(289344, 289384), match='<span class="d-md-none">JENKINS M</span>'>
<re.Match object; span=(291166, 291209), match='<span class="d-md-none">JORGENSEN TT</span>'>
<re.Match object; span=(292959, 292997), match='<span class="d-md-none">KTILA W</span>'>
<re.Match object; span=(294707, 294748), match='<span class="d-md-none">KUZYUKOV A</span>'>
<re.Match object; span=(296504, 296546), match='<span class="d-md-none">LAMIRAULT F</span>'>
<re.Match object; span=(298305, 298340), match='<span class="d-md-none">LI H</span>'>
<re.Match object; span=(300108, 300144), match='<span class="d-md-none">LIU J</span>'>
<re.Match object; span=(301894, 301930), match='<span class="d-md-none">LIU L</span>'>
<re.Match object; span=(303659, 303695), match='<span class="d-md-none">LIU Y</span>'>
<re.Match object; span=(305446, 305487), match='<span class="d-md-none">MAHLANGU N</span>'>
<re.Match object; span=(307200, 307240), match='<span class="d-md-none">MAJUNKE J</span>'>
<re.Match object; span=(309001, 309037), match='<span class="d-md-none">MAO J</span>'>
<re.Match object; span=(310810, 310850), match='<span class="d-md-none">MASTERS O</span>'>
<re.Match object; span=(312585, 312625), match='<span class="d-md-none">McGRATH C</span>'>
<re.Match object; span=(314364, 314405), match='<span class="d-md-none">MOZGOVOI B</span>'>
<re.Match object; span=(316147, 316184), match='<span class="d-md-none">PLAT J</span>'>
<re.Match object; span=(317922, 317957), match='<span class="d-md-none">QU Z</span>'>
<re.Match object; span=(319653, 319692), match='<span class="d-md-none">RISTIC D</span>'>
<re.Match object; span=(321420, 321461), match='<span class="d-md-none">SAFRONOV D</span>'>
<re.Match object; span=(323159, 323196), match='<span class="d-md-none">SATO T</span>'>
<re.Match object; span=(324894, 324933), match='<span class="d-md-none">SATOMI S</span>'>
<re.Match object; span=(326637, 326677), match='<span class="d-md-none">SHALABI I</span>'>
<re.Match object; span=(328433, 328469), match='<span class="d-md-none">SHI Y</span>'>
<re.Match object; span=(330218, 330259), match='<span class="d-md-none">STICKNEY M</span>'>
<re.Match object; span=(332014, 332053), match='<span class="d-md-none">STOREY S</span>'>
<re.Match object; span=(333772, 333812), match='<span class="d-md-none">SUGIURA K</span>'>
<re.Match object; span=(335570, 335617), match='<span class="d-md-none">SUMMERS-NEWTON M</span>'>
<re.Match object; span=(337372, 337410), match='<span class="d-md-none">TLILI R</span>'>
<re.Match object; span=(339142, 339181), match='<span class="d-md-none">VALIZE M</span>'>
<re.Match object; span=(340922, 340961), match='<span class="d-md-none">WATSON B</span>'>
<re.Match object; span=(342711, 342747), match='<span class="d-md-none">XUE J</span>'>
<re.Match object; span=(344500, 344536), match='<span class="d-md-none">YAN S</span>'>
<re.Match object; span=(346257, 346294), match='<span class="d-md-none">YIP PX</span>'>
<re.Match object; span=(348048, 348086), match='<span class="d-md-none">ZHANG B</span>'>
<re.Match object; span=(349845, 349882), match='<span class="d-md-none">ZHAO S</span>'>
<re.Match object; span=(351626, 351663), match='<span class="d-md-none">ZHOU X</span>'>
<re.Match object; span=(353398, 353435), match='<span class="d-md-none">ZHOU Y</span>'>
<re.Match object; span=(355190, 355226), match='<span class="d-md-none">ZOU L</span>'>
<re.Match object; span=(356945, 356986), match='<span class="d-md-none">RAIMONDI S</span>'>
<re.Match object; span=(359940, 359979), match='<span class="d-md-none">FANTIN A</span>'>
<re.Match object; span=(362441, 362480), match='<span class="d-md-none">SUZUKI T</span>'>
<re.Match object; span=(364963, 365000), match='<span class="d-md-none">WANG L</span>'>
<re.Match object; span=(367435, 367476), match='<span class="d-md-none">BANDEIRA G</span>'>
<re.Match object; span=(369706, 369746), match='<span class="d-md-none">BARLAAM S</span>'>
<re.Match object; span=(371978, 372024), match='<span class="d-md-none">CRISPIN CORZO N</span>'>
<re.Match object; span=(374237, 374278), match='<span class="d-md-none">PIKALOVA D</span>'>
<re.Match object; span=(376500, 376539), match='<span class="d-md-none">ABARZA A</span>'>
<re.Match object; span=(378515, 378553), match='<span class="d-md-none">BAKER N</span>'>
<re.Match object; span=(380566, 380601), match='<span class="d-md-none">HU D</span>'>
<re.Match object; span=(382574, 382618), match='<span class="d-md-none">ISHCHIULOVA V</span>'>
<re.Match object; span=(384615, 384655), match='<span class="d-md-none">KONKOLY Z</span>'>
<re.Match object; span=(386670, 386709), match='<span class="d-md-none">MALONE N</span>'>
<re.Match object; span=(388688, 388727), match='<span class="d-md-none">MARTIN R</span>'>
<re.Match object; span=(390702, 390740), match='<span class="d-md-none">MASON B</span>'>
<re.Match object; span=(392678, 392718), match='<span class="d-md-none">MAZZONE L</span>'>
<re.Match object; span=(394662, 394698), match='<span class="d-md-none">PAP B</span>'>
<re.Match object; span=(396677, 396716), match='<span class="d-md-none">VDOVIN A</span>'>
<re.Match object; span=(398680, 398717), match='<span class="d-md-none">ZHOU Y</span>'>
<re.Match object; span=(400732, 400768), match='<span class="d-md-none">CAI L</span>'>
<re.Match object; span=(403010, 403051), match='<span class="d-md-none">PALAZZO XF</span>'>
<re.Match object; span=(405318, 405366), match='<span class="d-md-none">SERRANO ZARATE CD</span>'>
<re.Match object; span=(407617, 407665), match='<span class="d-md-none">BELARMINO PEREIRA</span>'>
<re.Match object; span=(409673, 409721), match='<span class="d-md-none">FERNANDEZ INFANTE</span>'>
<re.Match object; span=(411738, 411779), match='<span class="d-md-none">GILLIVER P</span>'>
<re.Match object; span=(413771, 413810), match='<span class="d-md-none">HANCE BJ</span>'>
<re.Match object; span=(415820, 415858), match='<span class="d-md-none">JIANG F</span>'>
<re.Match object; span=(417800, 417840), match='<span class="d-md-none">JOUANNY F</span>'>
<re.Match object; span=(419821, 419856), match='<span class="d-md-none">LI G</span>'>
<re.Match object; span=(421852, 421887), match='<span class="d-md-none">LI Z</span>'>
<re.Match object; span=(423868, 423911), match='<span class="d-md-none">LOPEZ DIAZ D</span>'>
<re.Match object; span=(425919, 425957), match='<span class="d-md-none">MARKS E</span>'>
<re.Match object; span=(427973, 428014), match='<span class="d-md-none">McFADDEN T</span>'>
<re.Match object; span=(429968, 430012), match='<span class="d-md-none">OSTAPCHENKO D</span>'>
<re.Match object; span=(431999, 432036), match='<span class="d-md-none">YUAN W</span>'>
<re.Match object; span=(434012, 434051), match='<span class="d-md-none">ALCOTT D</span>'>
<re.Match object; span=(435790, 435831), match='<span class="d-md-none">ATHMANI SD</span>'>
<re.Match object; span=(437585, 437621), match='<span class="d-md-none">CAO N</span>'>
<re.Match object; span=(439380, 439418), match='<span class="d-md-none">CHENG H</span>'>
<re.Match object; span=(441174, 441211), match='<span class="d-md-none">COAN M</span>'>
<re.Match object; span=(442952, 442990), match='<span class="d-md-none">CUNDY J</span>'>
<re.Match object; span=(444752, 444794), match='<span class="d-md-none">da SILVA AR</span>'>
<re.Match object; span=(446528, 446567), match='<span class="d-md-none">DORRIS D</span>'>
<re.Match object; span=(448329, 448373), match='<span class="d-md-none">DRAHONINSKY D</span>'>
<re.Match object; span=(450077, 450115), match='<span class="d-md-none">GENYN P</span>'>
<re.Match object; span=(451816, 451855), match='<span class="d-md-none">GONTAR A</span>'>
<re.Match object; span=(453591, 453633), match='<span class="d-md-none">GRANICHKA A</span>'>
<re.Match object; span=(455421, 455466), match='<span class="d-md-none">GUITY GUITY SI</span>'>
<re.Match object; span=(457192, 457232), match='<span class="d-md-none">HILTROP N</span>'>
<re.Match object; span=(459019, 459057), match='<span class="d-md-none">HUANG W</span>'>
<re.Match object; span=(460818, 460856), match='<span class="d-md-none">HUANG X</span>'>
<re.Match object; span=(462602, 462650), match='<span class="d-md-none">IGLESIAS FORNEIRO</span>'>
<re.Match object; span=(464393, 464433), match='<span class="d-md-none">KEARNEY T</span>'>
<re.Match object; span=(466153, 466192), match='<span class="d-md-none">KIMURA K</span>'>
<re.Match object; span=(467943, 467986), match='<span class="d-md-none">KOZAKOWSKA R</span>'>
<re.Match object; span=(469699, 469741), match='<span class="d-md-none">KRIVSHINA A</span>'>
<re.Match object; span=(471489, 471528), match='<span class="d-md-none">LEAUTE A</span>'>
<re.Match object; span=(473278, 473315), match='<span class="d-md-none">LEI LN</span>'>
<re.Match object; span=(475074, 475110), match='<span class="d-md-none">LIU Y</span>'>
<re.Match object; span=(476813, 476851), match='<span class="d-md-none">MAZUR L</span>'>
<re.Match object; span=(478583, 478618), match='<span class="d-md-none">MI N</span>'>
<re.Match object; span=(480350, 480393), match='<span class="d-md-none">MOSKALENKO A</span>'>
<re.Match object; span=(482163, 482200), match='<span class="d-md-none">OLAD M</span>'>
<re.Match object; span=(483930, 483973), match='<span class="d-md-none">PAENG-NUEA A</span>'>
<re.Match object; span=(485688, 485730), match='<span class="d-md-none">PIISPANEN T</span>'>
<re.Match object; span=(487457, 487498), match='<span class="d-md-none">SCHRODER S</span>'>
<re.Match object; span=(489222, 489261), match='<span class="d-md-none">SERBIN M</span>'>
<re.Match object; span=(491007, 491048), match='<span class="d-md-none">SHABUROV M</span>'>
<re.Match object; span=(492795, 492834), match='<span class="d-md-none">STRENG F</span>'>
<re.Match object; span=(494528, 494568), match='<span class="d-md-none">TARASOV D</span>'>
<re.Match object; span=(496325, 496368), match='<span class="d-md-none">ter SCHURE V</span>'>
<re.Match object; span=(498137, 498178), match='<span class="d-md-none">TOWNSEND R</span>'>
<re.Match object; span=(499904, 499943), match='<span class="d-md-none">TURNER J</span>'>
<re.Match object; span=(501663, 501704), match='<span class="d-md-none">VALIYEVA L</span>'>
<re.Match object; span=(503433, 503473), match='<span class="d-md-none">van ZON K</span>'>
<re.Match object; span=(505218, 505255), match='<span class="d-md-none">VIO BM</span>'>
<re.Match object; span=(507024, 507063), match='<span class="d-md-none">VONGSA W</span>'>
<re.Match object; span=(508783, 508821), match='<span class="d-md-none">WELLS S</span>'>
<re.Match object; span=(510555, 510593), match='<span class="d-md-none">WIGGS E</span>'>
<re.Match object; span=(512345, 512382), match='<span class="d-md-none">YANG Q</span>'>
<re.Match object; span=(514115, 514153), match='<span class="d-md-none">ZEYEN A</span>'>
<re.Match object; span=(515915, 515953), match='<span class="d-md-none">ZHANG C</span>'>
<re.Match object; span=(517748, 517785), match='<span class="d-md-none">ZHOU J</span>'>
<re.Match object; span=(519567, 519603), match='<span class="d-md-none">ZHU D</span>'>
<re.Match object; span=(521346, 521382), match='<span class="d-md-none">ZOU L</span>'>
<re.Match object; span=(523144, 523187), match='<span class="d-md-none">APPLEGATE JJ</span>'>
<re.Match object; span=(525176, 525215), match='<span class="d-md-none">DUBROV D</span>'>
<re.Match object; span=(527217, 527256), match='<span class="d-md-none">GLOCK TH</span>'>
<re.Match object; span=(529263, 529312), match='<span class="d-md-none">HERNANDEZ HERNAND.</span>>
<re.Match object; span=(531314, 531355), match='<span class="d-md-none">ABLINGER W</span>'>
<re.Match object; span=(533106, 533152), match='<span class="d-md-none">ABRAHAM GEBRU D</span>'>
<re.Match object; span=(534916, 534955), match='<span class="d-md-none">AUSTIN E</span>'>
<re.Match object; span=(536673, 536709), match='<span class="d-md-none">AVE L</span>'>
<re.Match object; span=(538426, 538468), match='<span class="d-md-none">BOHODAIKO Y</span>'>
<re.Match object; span=(540229, 540276), match='<span class="d-md-none">CABELLO LLAMAS A</span>'>
<re.Match object; span=(542049, 542091), match='<span class="d-md-none">DEBRUNNER C</span>'>
<re.Match object; span=(543841, 543876), match='<span class="d-md-none">DI D</span>'>
<re.Match object; span=(545614, 545663), match='<span class="d-md-none">FERREIRA dos SANT.</span>>
<re.Match object; span=(547390, 547429), match='<span class="d-md-none">FLOORS J</span>'>
<re.Match object; span=(549150, 549196), match='<span class="d-md-none">GARROTE MUNOZ S</span>'>
<re.Match object; span=(550944, 550983), match='<span class="d-md-none">JANSEN J</span>'>
<re.Match object; span=(552709, 552750), match='<span class="d-md-none">KAJIWARA D</span>'>
<re.Match object; span=(554453, 554493), match='<span class="d-md-none">LEKHARA A</span>'>
<re.Match object; span=(556270, 556315), match='<span class="d-md-none">LEMOS RIVAS JG</span>'>
<re.Match object; span=(558060, 558097), match='<span class="d-md-none">LEVY M</span>'>
<re.Match object; span=(559875, 559912), match='<span class="d-md-none">LIAO K</span>'>
<re.Match object; span=(561646, 561687), match='<span class="d-md-none">LLOVERAS A</span>'>
<re.Match object; span=(563415, 563455), match='<span class="d-md-none">METELKA J</span>'>
<re.Match object; span=(565195, 565233), match='<span class="d-md-none">OVSII Z</span>'>
<re.Match object; span=(567003, 567043), match='<span class="d-md-none">PAGONIS A</span>'>
<re.Match object; span=(568799, 568839), match='<span class="d-md-none">PARTYKA N</span>'>
<re.Match object; span=(570566, 570606), match='<span class="d-md-none">PAVLOVA M</span>'>