# Extract Medals data using Pandas

In [1]:
import requests
import pandas as pd

url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/medal-standings.htm'
html = requests.get(url).content
medals_list = pd.read_html(html)
len(medals_list)

5

In [2]:
#0's entry in the medals_list contains the overall medal table
medals = medals_list[0]
medals.head()

,Rank,Team/NPC,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total,RankbyTotal,NPCCode
0,1,People's Republic of China,96,60,51,207,1,CHN
1,2,Great Britain,41,38,45,124,2,GBR
2,3,United States of America,37,36,31,104,4,USA
3,4,RPC,36,33,49,118,3,RPC
4,5,Netherlands,25,17,17,59,9,NED

In [3]:
#Name columns properly
medals.rename(columns={'Unnamed: 2' : 'Gold', 'Unnamed: 3' : 'Silver', 
                       'Unnamed: 4': 'Bronze', 'RankbyTotal': 'Rank by Total'}, 
              inplace=True)

#Drop the 'NPCCode' column
medals.drop(columns=['NPCCode'], inplace=True)

#Take a look at the modified table
medals.head()

,Rank,Team/NPC,Gold,Silver,Bronze,Total,Rank by Total
0,1,People's Republic of China,96,60,51,207,1
1,2,Great Britain,41,38,45,124,2
2,3,United States of America,37,36,31,104,4
3,4,RPC,36,33,49,118,3
4,5,Netherlands,25,17,17,59,9

In [4]:
#Export data to a cvs file
medals.to_csv('Medals.csv', index=False)

# Extract Athletes data using Selenium

In [ ]:
import time
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.Chrome()
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/medal-standings.htm'
driver.get(url)
time.sleep(2)

#Cookies
not_accept_xpath = '//*[@id="onetrust-pc-btn-handler"]'
not_accept = driver.find_element_by_xpath(not_accept_xpath)
not_accept.click()
time.sleep(2)

cookies_xpath = '//*[@id="onetrust-pc-sdk"]/div[3]/div[1]/button[1]'
cookies = driver.find_element_by_xpath(cookies_xpath)
cookies.click()
time.sleep(3)

#Athletes tab
athletes_button_xp = '/html/body/section[2]/div/header/div[2]/div[1]/div/div[2]/nav/ul[1]/li[6]/a'
athletes_button = driver.find_element_by_xpath(athletes_button_xp)
athletes_button.click()
time.sleep(3)

#Extract html of the athletes table 
athletes_table_xp = '//*[@id="entries-table"]'
athletes_table = driver.find_element_by_xpath(athletes_table_xp)
athletes_html_full = athletes_table.get_attribute('outerHTML')

#Remove undesireble text patterns in the table
remove_pattern_1 = r';[^>]+;'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2))
athletes_html_clean = re.sub(remove_pattern, '', athletes_html_full)

#Record 1st page data
athletes_p1_list = pd.read_html(athletes_html_clean)
athletes_p1 = athletes_p1_list[0]
athletes_p1.index = athletes_p1.index + 1 + 20*0
athletes_list = [athletes_p1]
time.sleep(2)

#Record pages 2-227
for i in range(2, 228):
    j = i
    if i > 5:
        j = 5
    if i == 226:
        j = 6
    if i == 227:
        j = 7    
    next_page_xpath = f'//*[@id="entries-table_paginate"]/ul/li[{j+1}]/a'
    next_page = driver.find_element_by_xpath(next_page_xpath)
    next_page.click()
    
    athletes_html_full = athletes_table.get_attribute('outerHTML')
    athletes_html_clean = re.sub(remove_pattern, '', athletes_html_full)
    
    athletes_nextp_list = pd.read_html(athletes_html_clean)
    athletes_nextp = athletes_nextp_list[0]
    athletes_nextp.index = athletes_nextp.index + 1 + 20*(i-1)
    athletes_list.append(athletes_nextp)
    time.sleep(2)

athletes_final = pd.concat(athletes_list)

In [ ]:
#Check out the resulting table
athletes_final.head()

In [ ]:
#Export data to a cvs file
athletes_final.to_csv('Athletes.csv', index=False)

# Extract Gender by Discipline data using pandas

In [5]:
import requests
import pandas as pd

url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/entries-by-discipline.htm'
html = requests.get(url).content
gender_list = pd.read_html(html)
len(gender_list)

1

In [6]:
#0's entry in the medals_list contains the overall medal table
gender = gender_list[0]
gender.tail()

               Discipline Gender
               Discipline      F     M Total
19  Wheelchair Basketball    118   144   262
20     Wheelchair Fencing     48    48    96
21       Wheelchair Rugby      4    88    92
22      Wheelchair Tennis     32    72   104
23                  Total   1895  2632  4527

In [7]:
#Remove redundant multiindexing in column titles
gender.columns = ['Discipline', 'F', 'M', 'Total']

#Remove the last row
gender = gender[:-1]

#Display data
gender.style.set_properties(**{'text-align': 'right'})

In [8]:
#Export data to a cvs file
gender.to_csv('GenderByDiscipline.csv', index=False)

# Extract Coaches data using Selenium

In [4]:
import re
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

driver = webdriver.Chrome()
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/coaches.htm'
driver.get(url)
time.sleep(2)

#Cookies
not_accept_xpath = '//*[@id="onetrust-pc-btn-handler"]'
not_accept = driver.find_element_by_xpath(not_accept_xpath)
not_accept.click()
time.sleep(2)

cookies_xpath = '//*[@id="onetrust-pc-sdk"]/div[3]/div[1]/button[1]'
cookies = driver.find_element_by_xpath(cookies_xpath)
cookies.click()
time.sleep(3)

#Extract html of the coaches table 
coaches_table_xp = '//*[@id="mainContainer"]/div/div[1]/div[1]/div[3]'
coaches_table = driver.find_element_by_xpath(coaches_table_xp)
coaches_html_full = coaches_table.get_attribute('outerHTML')

#Remove undesireble text patterns in the table
remove_pattern_1 = r';[^>]+;'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2))
coaches_html_clean = re.sub(remove_pattern, '', coaches_html_full)

#Record 1st page data
coaches_p1_list = pd.read_html(coaches_html_clean)
coaches_p1 = coaches_p1_list[0]
coaches_p1.index = coaches_p1.index + 1 + 20*0
coaches_list = [coaches_p1]
time.sleep(2)

#Record pages 2-5
for i in range(2, 6):        
    next_page_xpath = f'//*[@id="entries-table_paginate"]/ul/li[{i+1}]/a'
    next_page = driver.find_element_by_xpath(next_page_xpath)
    next_page.click()
    
    coaches_html_full = coaches_table.get_attribute('outerHTML')
    coaches_html_clean = re.sub(remove_pattern, '', coaches_html_full)
    
    coaches_nextp_list = pd.read_html(coaches_html_clean)
    coaches_nextp = coaches_nextp_list[0]
    coaches_nextp.index = coaches_nextp.index + 1 + 20*(i-1)
    coaches_list.append(coaches_nextp)
    time.sleep(2)

coaches_final = pd.concat(coaches_list)
coaches_final.rename(columns={'Event': 'Gender'}, inplace=True)

In [5]:
coaches_final

,Name,NPC,Discipline,Gender
1,AGHAKOUCHEKI Abbas,Islamic Republic of Iran,Wheelchair Basketball,Men
2,AKIN Ahmet,Turkey,Wheelchair Basketball,Men
3,AKPWEH Toussaint,France,Football 5-a-side,Men
4,ARIMA Masato,Japan,Wheelchair Basketball,NaN
5,BAN Nicole,Canada,Sitting Volleyball,Women
...,...,...,...,...
87,XU Yufei,People's Republic of China,Football 5-a-side,Men
88,YE Jing,People's Republic of China,Sitting Volleyball,Men
89,YIN Shiqiang,People's Republic of China,Goalball,Men
90,YOUNG Keith,United States of America,Goalball,Men
91,ZELTINGER Nicolai,Germany,Wheelchair Basketball,Men

In [6]:
#Export data to a cvs file
coaches_final.to_csv('Coaches.csv', index=False)

# Extract Medalists data using Selenium

In [2]:

import re
import time
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

driver = webdriver.Chrome()
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/multi-medalists.htm'
driver.get(url)
time.sleep(2)

#Cookies
not_accept_xpath = '//*[@id="onetrust-pc-btn-handler"]'
not_accept = driver.find_element_by_xpath(not_accept_xpath)
not_accept.click()
time.sleep(2)

cookies_xpath = '//*[@id="onetrust-pc-sdk"]/div[3]/div[1]/button[1]'
cookies = driver.find_element_by_xpath(cookies_xpath)
cookies.click()
time.sleep(3)

#Extract html of the multi-medallists table 
mmedallists_table_xp = '//*[@id="multi_medallist"]/div[2]'
mmedallists_table = driver.find_element_by_xpath(mmedallists_table_xp)
mmedallists_html_full = mmedallists_table.get_attribute('innerHTML')

#Record 1st page data
mmedallists_p1_list = pd.read_html(mmedallists_html_full)
mmedallists_p1 = mmedallists_p1_list[0]
mmedallists_p1.index = mmedallists_p1.index + 1 + 20*0
mmedallists_list = [mmedallists_p1]
time.sleep(2)

In [3]:
import re
import time
import requests
import pandas as pd
url = 'https://olympics.com/tokyo-2020/paralympic-games/en/results/all-sports/multi-medalists.htm'

mmedallists_html_full = requests.get(url).content
mmedallists = pd.read_html(mmedallists_html_full)
mmedallists[0]

,Rank,Name,Sport,Event,Medal,Total
0,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Backstroke - S10,NaN,7
1,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Butterfly - S10,NaN,7
2,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Freestyle - S10,NaN,7
3,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 200m Individual Medley - SM10,NaN,7
4,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 400m Freestyle - S10,NaN,7
...,...,...,...,...,...,...
931,350,CHNWU CWU Chunyan Sport Class: W2,Archery,Women's Individual Recurve - Open,NaN,2
932,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Backstroke - S11,NaN,2
933,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Breaststroke - SB11,NaN,2
934,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 100m Breaststroke - SB8,NaN,2
935,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 200m Individual Medley - SM8,NaN,2

In [6]:
#Clean up the data frame
remove_pattern_1 = r'Sport Class:[^>]+>[^>]+>'
remove_pattern_2 = r'<span class="d-md-none">[^>]+</span>'
remove_pattern_3 = r'<abbr class="noc"\s[^<]+</abbr>'
remove_pattern = r'|'.join((remove_pattern_1, remove_pattern_2, remove_pattern_3))
mmedallists_html_clean_1 = re.sub(remove_pattern, '', mmedallists_html_full.decode("utf-8"))

replace_pattern_gold = r'<img class="medal-icon"\s[^\s]+\salt="Gold Medal">'
replace_pattern_silver = r'<img class="medal-icon"\s[^\s]+\salt="Silver Medal">'
replace_pattern_bronze = r'<img class="medal-icon"\s[^\s]+\salt="Bronze Medal">'

mmedallists_html_clean_2 = re.sub(replace_pattern_gold, 'Gold', mmedallists_html_clean_1)
mmedallists_html_clean_3 = re.sub(replace_pattern_silver, 'Silver', mmedallists_html_clean_2)
mmedallists_html_clean = re.sub(replace_pattern_bronze, 'Bronze', mmedallists_html_clean_3)

mmedallists_clean = pd.read_html(mmedallists_html_clean)
mmedallists = mmedallists_clean[0]

mmedallists.head(10)

,Rank,Name,Sport,Event,Medal,Total
0,1,KRYPAK Maksym,Swimming,Men's 100m Backstroke - S10,Gold,7
1,1,KRYPAK Maksym,Swimming,Men's 100m Butterfly - S10,Gold,7
2,1,KRYPAK Maksym,Swimming,Men's 100m Freestyle - S10,Gold,7
3,1,KRYPAK Maksym,Swimming,Men's 200m Individual Medley - SM10,Gold,7
4,1,KRYPAK Maksym,Swimming,Men's 400m Freestyle - S10,Gold,7
5,1,KRYPAK Maksym,Swimming,Men's 50m Freestyle - S10,Silver,7
6,1,KRYPAK Maksym,Swimming,Men's 4x100m Freestyle Relay - 34 Points,Bronze,7
7,2,BOKI Ihar,Swimming,Men's 100m Backstroke - S13,Gold,5
8,2,BOKI Ihar,Swimming,Men's 100m Butterfly - S13,Gold,5
9,2,BOKI Ihar,Swimming,Men's 200m Individual Medley - SM13,Gold,5

In [7]:
#Group identical raws 
idet_cols = ['Rank', 'Name', 'Sport', 'Total']
mmedallists['Event'] = mmedallists.groupby(idet_cols)['Event'].transform(lambda x: '; '.join(x))
mmedallists['Medal'] = mmedallists.groupby(idet_cols)['Medal'].transform(lambda x: '; '.join(x))
mmedallists.drop_duplicates(inplace=True, ignore_index=True)
mmedallists

,Rank,Name,Sport,Event,Medal,Total
0,1,KRYPAK Maksym,Swimming,Men's 100m Backstroke - S10; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold; Silver; Bronze,7
1,2,BOKI Ihar,Swimming,Men's 100m Backstroke - S13; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold,5
2,3,HUG Marcel,Athletics,Men's 1500m - T54; Men's 5000m - T54; Men's 80...,Gold; Gold; Gold; Gold,4
3,3,LU Dong,Swimming,Mixed 4x50m Freestyle Relay - 20 Points; Women...,Gold; Gold; Gold; Gold,4
4,3,ZHENG Tao,Swimming,Men's 50m Backstroke - S5; Men's 50m Butterfly...,Gold; Gold; Gold; Gold,4
...,...,...,...,...,...,...
376,350,UEYONABARU Hirokazu,Athletics,Men's 1500m - T52; Men's 400m - T52,Bronze; Bronze,2
377,350,WILSON Georgia,Equestrian,Individual Freestyle Test - Grade II; Individu...,Bronze; Bronze,2
378,350,WU Chunyan,Archery,Mixed Team Recurve - Open; Women's Individual ...,Bronze; Bronze,2
379,350,YANG Bozun,Swimming,Men's 100m Backstroke - S11; Men's 100m Breast...,Bronze; Bronze,2
380,350,YANG Guanglong,Swimming,Men's 100m Breaststroke - SB8; Men's 200m Indi...,Bronze; Bronze,2

In [8]:
#Count Gold, Silver, and Bronze
mmedallists = mmedallists.assign(Gold = mmedallists['Medal'].str.count('Gold'))
mmedallists = mmedallists.assign(Silver = mmedallists['Medal'].str.count('Silver'))
mmedallists = mmedallists.assign(Bronze = mmedallists['Medal'].str.count('Bronze'))
mmedallists

,Rank,Name,Sport,Event,Medal,Total,Gold,Silver,Bronze
0,1,KRYPAK Maksym,Swimming,Men's 100m Backstroke - S10; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold; Silver; Bronze,7,5,1,1
1,2,BOKI Ihar,Swimming,Men's 100m Backstroke - S13; Men's 100m Butter...,Gold; Gold; Gold; Gold; Gold,5,5,0,0
2,3,HUG Marcel,Athletics,Men's 1500m - T54; Men's 5000m - T54; Men's 80...,Gold; Gold; Gold; Gold,4,4,0,0
3,3,LU Dong,Swimming,Mixed 4x50m Freestyle Relay - 20 Points; Women...,Gold; Gold; Gold; Gold,4,4,0,0
4,3,ZHENG Tao,Swimming,Men's 50m Backstroke - S5; Men's 50m Butterfly...,Gold; Gold; Gold; Gold,4,4,0,0
...,...,...,...,...,...,...,...,...,...
376,350,UEYONABARU Hirokazu,Athletics,Men's 1500m - T52; Men's 400m - T52,Bronze; Bronze,2,0,0,2
377,350,WILSON Georgia,Equestrian,Individual Freestyle Test - Grade II; Individu...,Bronze; Bronze,2,0,0,2
378,350,WU Chunyan,Archery,Mixed Team Recurve - Open; Women's Individual ...,Bronze; Bronze,2,0,0,2
379,350,YANG Bozun,Swimming,Men's 100m Backstroke - S11; Men's 100m Breast...,Bronze; Bronze,2,0,0,2
380,350,YANG Guanglong,Swimming,Men's 100m Breaststroke - SB8; Men's 200m Indi...,Bronze; Bronze,2,0,0,2

In [9]:
#Remove redundant columns
mmedallists.drop(columns=['Event', 'Medal'], inplace=True)
mmedallists = mmedallists.reindex(columns=['Rank', 'Name', 'Sport', 'Gold', 'Silver', 'Bronze', 'Total'])
mmedallists

     Rank                 Name       Sport  Gold  Silver  Bronze  Total
0       1        KRYPAK Maksym    Swimming     5       1       1      7
1       2            BOKI Ihar    Swimming     5       0       0      5
2       3           HUG Marcel   Athletics     4       0       0      4
3       3              LU Dong    Swimming     4       0       0      4
4       3            ZHENG Tao    Swimming     4       0       0      4
..    ...                  ...         ...   ...     ...     ...    ...
376   350  UEYONABARU Hirokazu   Athletics     0       0       2      2
377   350       WILSON Georgia  Equestrian     0       0       2      2
378   350           WU Chunyan     Archery     0       0       2      2
379   350           YANG Bozun    Swimming     0       0       2      2
380   350       YANG Guanglong    Swimming     0       0       2      2

[381 rows x 7 columns]

In [11]:
#Export data to a cvs file
mmedallists.to_csv('MultiMedallists.csv', index=False)

In [18]:
#Script to look for matches
switch_pattern = re.compile(r'<abbr class="noc" title=("[^"]+")>[^<]</abbr>')
mmedallists_html_clean = re.sub(remove_pattern, '', mmedallists_html_full.decode("utf-8"))

matches = remove_pattern.finditer(mmedallists_html_full.decode("utf-8"))

for match in matches:
    print(match)

<re.Match object; span=(142647, 142691), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(145608, 145652), match='<abbr class="noc" title="Belarus">BLR</abbr>'>
<re.Match object; span=(148089, 148137), match='<abbr class="noc" title="Switzerland">SUI</abbr>'>
<re.Match object; span=(150293, 150356), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(152562, 152625), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(154822, 154883), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(157589, 157639), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(160072, 160115), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(162630, 162676), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(164906, 164967), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(167110, 167150), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(169382, 169422), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(171871, 171919), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(173899, 173940), match='<abbr class="noc" title="Cuba">CUB</abbr>'>
<re.Match object; span=(175882, 175922), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(177903, 177948), match='<abbr class="noc" title="Thailand">THA</abbr>'>
<re.Match object; span=(179891, 179941), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(181901, 181948), match='<abbr class="noc" title="Azerbaijan">AZE</abbr>'>
<re.Match object; span=(183908, 183971), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(185973, 186036), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(187961, 188005), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(190700, 190748), match='<abbr class="noc" title="Switzerland">SUI</abbr>'>
<re.Match object; span=(193138, 193180), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(195642, 195686), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(198154, 198196), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(200647, 200695), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(203192, 203242), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(205457, 205499), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(207700, 207743), match='<abbr class="noc" title="Canada">CAN</abbr>'>
<re.Match object; span=(210215, 210278), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(212511, 212574), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(214763, 214811), match='<abbr class="noc" title="New Zealand">NZL</abbr>'>
<re.Match object; span=(217046, 217109), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(219315, 219357), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(221350, 221396), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(223363, 223406), match='<abbr class="noc" title="Israel">ISR</abbr>'>
<re.Match object; span=(225373, 225416), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(227436, 227482), match='<abbr class="noc" title="Indonesia">INA</abbr>'>
<re.Match object; span=(229464, 229527), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(231466, 231529), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(233485, 233525), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(235495, 235541), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(237522, 237585), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(239544, 239590), match='<abbr class="noc" title="Venezuela">VEN</abbr>'>
<re.Match object; span=(241578, 241626), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(243603, 243664), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(245673, 245736), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(247709, 247772), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(249761, 249807), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(251760, 251803), match='<abbr class="noc" title="Israel">ISR</abbr>'>
<re.Match object; span=(253784, 253845), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(255821, 255869), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(257856, 257906), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(259903, 259966), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(261898, 261943), match='<abbr class="noc" title="Slovakia">SVK</abbr>'>
<re.Match object; span=(263661, 263722), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(265484, 265547), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(267278, 267341), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(269038, 269088), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(270812, 270862), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(272598, 272646), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(274379, 274423), match='<abbr class="noc" title="Ireland">IRL</abbr>'>
<re.Match object; span=(276178, 276241), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(277972, 278035), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(279793, 279837), match='<abbr class="noc" title="Belgium">BEL</abbr>'>
<re.Match object; span=(281593, 281654), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(283400, 283463), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(285217, 285280), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(286975, 287018), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(288750, 288811), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(290567, 290611), match='<abbr class="noc" title="Denmark">DEN</abbr>'>
<re.Match object; span=(292389, 292433), match='<abbr class="noc" title="Tunisia">TUN</abbr>'>
<re.Match object; span=(294118, 294158), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(295922, 295965), match='<abbr class="noc" title="France">FRA</abbr>'>
<re.Match object; span=(297717, 297780), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(299522, 299585), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(301315, 301378), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(303081, 303144), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(304863, 304912), match='<abbr class="noc" title="South Africa">RSA</abbr>>
<re.Match object; span=(306625, 306669), match='<abbr class="noc" title="Germany">GER</abbr>'>
<re.Match object; span=(308407, 308470), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(310214, 310275), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(312004, 312050), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(313791, 313831), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(315572, 315620), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(317341, 317404), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(319081, 319124), match='<abbr class="noc" title="Serbia">SRB</abbr>'>
<re.Match object; span=(320844, 320884), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(322591, 322633), match='<abbr class="noc" title="Japan">JPN</abbr>'>
<re.Match object; span=(324322, 324364), match='<abbr class="noc" title="Japan">JPN</abbr>'>
<re.Match object; span=(326067, 326110), match='<abbr class="noc" title="Israel">ISR</abbr>'>
<re.Match object; span=(327846, 327909), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(329624, 329685), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(331433, 331483), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(333197, 333239), match='<abbr class="noc" title="Japan">JPN</abbr>'>
<re.Match object; span=(334975, 335025), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(336802, 336846), match='<abbr class="noc" title="Tunisia">TUN</abbr>'>
<re.Match object; span=(338563, 338611), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(340335, 340385), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(342125, 342188), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(343914, 343977), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(345686, 345732), match='<abbr class="noc" title="Singapore">SGP</abbr>'>
<re.Match object; span=(347458, 347521), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(349255, 349318), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(351043, 351106), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(352810, 352873), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(354603, 354666), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(356368, 356410), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(359367, 359409), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(361866, 361908), match='<abbr class="noc" title="Japan">JPN</abbr>'>
<re.Match object; span=(364375, 364438), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(366857, 366900), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(369133, 369175), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(371390, 371435), match='<abbr class="noc" title="Colombia">COL</abbr>'>
<re.Match object; span=(373666, 373706), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(375927, 375969), match='<abbr class="noc" title="Chile">CHI</abbr>'>
<re.Match object; span=(377934, 377984), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(379968, 380031), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(381989, 382029), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(384040, 384084), match='<abbr class="noc" title="Hungary">HUN</abbr>'>
<re.Match object; span=(386083, 386144), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(388095, 388156), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(390111, 390172), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(392105, 392147), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(394095, 394139), match='<abbr class="noc" title="Hungary">HUN</abbr>'>
<re.Match object; span=(396107, 396147), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(398092, 398155), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(400148, 400211), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(402419, 402461), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(404714, 404759), match='<abbr class="noc" title="Colombia">COL</abbr>'>
<re.Match object; span=(407021, 407064), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(409082, 409124), match='<abbr class="noc" title="Spain">ESP</abbr>'>
<re.Match object; span=(411147, 411197), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(413182, 413228), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(415229, 415292), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(417220, 417263), match='<abbr class="noc" title="France">FRA</abbr>'>
<re.Match object; span=(419237, 419300), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(421261, 421324), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(423290, 423333), match='<abbr class="noc" title="Mexico">MEX</abbr>'>
<re.Match object; span=(425325, 425386), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(427376, 427437), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(429387, 429431), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(431413, 431476), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(433430, 433476), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(435198, 435242), match='<abbr class="noc" title="Algeria">ALG</abbr>'>
<re.Match object; span=(436991, 437054), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(438789, 438852), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(440584, 440645), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(442374, 442424), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(444151, 444194), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(445952, 445995), match='<abbr class="noc" title="Canada">CAN</abbr>'>
<re.Match object; span=(447742, 447793), match='<abbr class="noc" title="Czech Republic">CZE</abb>
<re.Match object; span=(449507, 449551), match='<abbr class="noc" title="Belgium">BEL</abbr>'>
<re.Match object; span=(451239, 451279), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(453016, 453056), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(454818, 454865), match='<abbr class="noc" title="Costa Rica">CRC</abbr>'>
<re.Match object; span=(456613, 456657), match='<abbr class="noc" title="Germany">GER</abbr>'>
<re.Match object; span=(458423, 458486), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(460232, 460295), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(462002, 462044), match='<abbr class="noc" title="Spain">ESP</abbr>'>
<re.Match object; span=(463814, 463864), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(465580, 465622), match='<abbr class="noc" title="Japan">JPN</abbr>'>
<re.Match object; span=(467366, 467409), match='<abbr class="noc" title="Poland">POL</abbr>'>
<re.Match object; span=(469128, 469168), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(470906, 470949), match='<abbr class="noc" title="France">FRA</abbr>'>
<re.Match object; span=(472707, 472753), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(474487, 474550), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(476244, 476287), match='<abbr class="noc" title="France">FRA</abbr>'>
<re.Match object; span=(478006, 478069), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(479760, 479804), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(481578, 481639), match='<abbr class="noc" title="Islamic Republic of Iran>
<re.Match object; span=(483345, 483390), match='<abbr class="noc" title="Thailand">THA</abbr>'>
<re.Match object; span=(485112, 485156), match='<abbr class="noc" title="Finland">FIN</abbr>'>
<re.Match object; span=(486873, 486921), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(488645, 488689), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(490426, 490466), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(492223, 492267), match='<abbr class="noc" title="Germany">GER</abbr>'>
<re.Match object; span=(493959, 493999), match='<abbr class="noc" title="RPC">RPC</abbr>'>
<re.Match object; span=(495734, 495782), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(497538, 497599), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(499330, 499376), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(501082, 501129), match='<abbr class="noc" title="Azerbaijan">AZE</abbr>'>
<re.Match object; span=(502852, 502900), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(504627, 504669), match='<abbr class="noc" title="Italy">ITA</abbr>'>
<re.Match object; span=(506440, 506485), match='<abbr class="noc" title="Thailand">THA</abbr>'>
<re.Match object; span=(508204, 508254), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(509978, 510028), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(511774, 511820), match='<abbr class="noc" title="Australia">AUS</abbr>'>
<re.Match object; span=(513540, 513584), match='<abbr class="noc" title="Germany">GER</abbr>'>
<re.Match object; span=(515323, 515386), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(517146, 517209), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(518980, 519043), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(520756, 520819), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(522547, 522597), match='<abbr class="noc" title="Great Britain">GBR</abbr>
<re.Match object; span=(524605, 524649), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(526625, 526668), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(528667, 528710), match='<abbr class="noc" title="Mexico">MEX</abbr>'>
<re.Match object; span=(530733, 530777), match='<abbr class="noc" title="Austria">AUT</abbr>'>
<re.Match object; span=(532511, 532559), match='<abbr class="noc" title="Netherlands">NED</abbr>'>
<re.Match object; span=(534330, 534391), match='<abbr class="noc" title="United States of America>
<re.Match object; span=(536107, 536151), match='<abbr class="noc" title="Germany">GER</abbr>'>
<re.Match object; span=(537843, 537887), match='<abbr class="noc" title="Ukraine">UKR</abbr>'>
<re.Match object; span=(539635, 539677), match='<abbr class="noc" title="Spain">ESP</abbr>'>
<re.Match object; span=(541459, 541507), match='<abbr class="noc" title="Switzerland">SUI</abbr>'>
<re.Match object; span=(543252, 543315), match='<abbr class="noc" title="People\'s Republic of Ch>
<re.Match object; span=(545011, 545054), match='<abbr class="noc" title="Brazil">BRA</abbr>'>
<re.Match object; span=(546812, 546856), match='<abbr class="noc" title="Germany">GER</abbr>'>

In [20]:
mmedallists_clean = pd.read_html(mmedallists_html_clean)
mmedallists = mmedallists_clean[0]

mmedallists.head(10)

,Rank,Name,Sport,Event,Medal,Total
0,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Backstroke - S10,NaN,7
1,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Butterfly - S10,NaN,7
2,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Freestyle - S10,NaN,7
3,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 200m Individual Medley - SM10,NaN,7
4,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 400m Freestyle - S10,NaN,7
5,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 50m Freestyle - S10,NaN,7
6,1,"KRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 4x100m Freestyle Relay - 34 Points,NaN,7
7,2,"BOKI IBOKI Ihar Sport Class: S13,SB13,SM13",Swimming,Men's 100m Backstroke - S13,NaN,5
8,2,"BOKI IBOKI Ihar Sport Class: S13,SB13,SM13",Swimming,Men's 100m Butterfly - S13,NaN,5
9,2,"BOKI IBOKI Ihar Sport Class: S13,SB13,SM13",Swimming,Men's 200m Individual Medley - SM13,NaN,5

In [16]:
switch_pattern

'<abbr class="noc" title=("[^"]+")>([^<]+)</abbr>'

In [21]:
mmedallists_html_full = requests.get(url).content
mmedallists = pd.read_html(mmedallists_html_full)
mmedallists[0]

,Rank,Name,Sport,Event,Medal,Total
0,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Backstroke - S10,NaN,7
1,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Butterfly - S10,NaN,7
2,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 100m Freestyle - S10,NaN,7
3,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 200m Individual Medley - SM10,NaN,7
4,1,"UKRKRYPAK MKRYPAK Maksym Sport Class: S10,SM10",Swimming,Men's 400m Freestyle - S10,NaN,7
...,...,...,...,...,...,...
931,350,CHNWU CWU Chunyan Sport Class: W2,Archery,Women's Individual Recurve - Open,NaN,2
932,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Backstroke - S11,NaN,2
933,350,"CHNYANG BYANG Bozun Sport Class: S11,SB11,SM11",Swimming,Men's 100m Breaststroke - SB11,NaN,2
934,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 100m Breaststroke - SB8,NaN,2
935,350,"CHNYANG GYANG Guanglong Sport Class: S8,SB8,SM8",Swimming,Men's 200m Individual Medley - SM8,NaN,2

In [22]:
switch_pattern = re.compile(r'<abbr class="noc" title=("[^"]+")>([^<]+)</abbr>')
mmedallists_html_clean = switch_pattern.sub(r'<abbr class="noc" title=\2>\1</abbr>', mmedallists_html_full.decode("utf-8"))

In [23]:
mmedallists_clean = pd.read_html(mmedallists_html_clean)
mmedallists = mmedallists_clean[0]

mmedallists.head(10)

,Rank,Name,Sport,Event,Medal,Total
0,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Backstroke - S10,NaN,7
1,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Butterfly - S10,NaN,7
2,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Freestyle - S10,NaN,7
3,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 200m Individual Medley - SM10,NaN,7
4,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 400m Freestyle - S10,NaN,7
5,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 50m Freestyle - S10,NaN,7
6,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 4x100m Freestyle Relay - 34 Points,NaN,7
7,2,"""Belarus""BOKI IBOKI Ihar Sport Class: S13,SB13...",Swimming,Men's 100m Backstroke - S13,NaN,5
8,2,"""Belarus""BOKI IBOKI Ihar Sport Class: S13,SB13...",Swimming,Men's 100m Butterfly - S13,NaN,5
9,2,"""Belarus""BOKI IBOKI Ihar Sport Class: S13,SB13...",Swimming,Men's 200m Individual Medley - SM13,NaN,5

In [31]:
mmedallists = mmedallists.assign(Team = mmedallists['Name'].str.extract('"([^"]+)"'))

In [32]:
mmedallists

,Rank,Name,Sport,Event,Medal,Total,Team
0,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Backstroke - S10,NaN,7,Ukraine
1,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Butterfly - S10,NaN,7,Ukraine
2,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 100m Freestyle - S10,NaN,7,Ukraine
3,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 200m Individual Medley - SM10,NaN,7,Ukraine
4,1,"""Ukraine""KRYPAK MKRYPAK Maksym Sport Class: S1...",Swimming,Men's 400m Freestyle - S10,NaN,7,Ukraine
...,...,...,...,...,...,...,...
931,350,"""People's Republic of China""WU CWU Chunyan Spo...",Archery,Women's Individual Recurve - Open,NaN,2,People's Republic of China
932,350,"""People's Republic of China""YANG BYANG Bozun S...",Swimming,Men's 100m Backstroke - S11,NaN,2,People's Republic of China
933,350,"""People's Republic of China""YANG BYANG Bozun S...",Swimming,Men's 100m Breaststroke - SB11,NaN,2,People's Republic of China
934,350,"""People's Republic of China""YANG GYANG Guanglo...",Swimming,Men's 100m Breaststroke - SB8,NaN,2,People's Republic of China
935,350,"""People's Republic of China""YANG GYANG Guanglo...",Swimming,Men's 200m Individual Medley - SM8,NaN,2,People's Republic of China